@model List<Models.Model.User>



<h1> User List </h1>
<div class="table-responsive">
    <table class="table" id="tabla-contenido">
        <thead>
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>CURP</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Edit</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal modal-primary fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="agregarModalLabel" hidden="hidden">Nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalcuerpo"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary " id="btnGuardarModal">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-success fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="editarModalLabel">Edith</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modaleditarcuerpo">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary " id="btnEditarModal">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        // Globals
        let table;

        window.onload = function () {
          document.getElementById("btnGuardarModal").addEventListener("click", function () { Guardar(); })
          document.getElementById("btnEditarModal").addEventListener("click", function () { Editar(); })
        }


    // Lipiar campos del modal
    function LimpiarModales() {
        const bodies = document.querySelectorAll("modal-body");
        for (i = 0; i < bodies.length; i++) { bodies[i].innerHTML = ""; }
    }
        function LimpiarErrors() {
            document.getElementById("errName").innerText = "";
            document.getElementById("errLastName").innerText = "";
            document.getElementById("errEmail").innerText = "";
            document.getElementById("errCURP").innerText = "";
            document.getElementById("errUserName").innerText = "";
            document.getElementById("errPassword").innerText = "";
        }


        // Abrir Modal Crear
        function ModalAbrir(action) {
            fetch("@Url.Action("Agregar", "User")", {
                method: "GET"
            }).then(function (response) {
                if (response.ok) {
                    response.text().then(function (text) {
                        LimpiarModales();
                        document.querySelector("#modalcuerpo").innerHTML = text;
                        $("#agregarModal").modal(action);
                    })
                }
            });
        }

         // Abrir Modal Editar
        function MostrarEditar(id) {
            var data = {};

            fetch("@Url.Action("Edith","User")/" + id, {
                method: "GET"
            }).then(function (response) {
                if (response.ok) {
                    response.text().then(function (text) {
                       LimpiarModales();
                        document.querySelector("#modaleditarcuerpo").innerHTML = text;
                        $("#editarModal").modal("show");

                    })
                }
            });
        }

                 // Delete
        function Delete(id) {
            var data = {};
           
            fetch("@Url.Action("Delete","User")/" + id, {
                method: "DElETE",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(function (response) {
                if (response.ok) {

                    location.reload(true);                                
                }
                bootbox.alert("Success User Delete!");
            });
        }










        // Editar Data Guardar
        function Editar() {
            var data = {};

            data["ID"] = document.querySelector("#ID").value;
            data["Name"] = document.querySelector("#Name").value;
            data["LastName"] = document.querySelector("#LastName").value;
            data["CURP"] = document.querySelector("#CURP").value;
            data["Email"] = document.querySelector("#Email").value;
            data["UserName"] = document.querySelector("#UserName").value;
            data["Password"] = document.querySelector("#Password").value;
        
            fetch("https://localhost:44316/api/user", {
                method: "PUT",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(function (response) {
                if (response.ok) {
                    $("#editarModal").modal("hide");
                 
                    location.reload(true);
                    bootbox.alert("Success User Edith!");
                }
            });
        }




   // Guardar Crear
        function Guardar() {
            const data = {};
            data["Name"] = document.querySelector("#Name").value;
            data["LastName"] = document.querySelector("#LastName").value;
            data["CURP"] = document.querySelector("#CURP").value;
            data["Email"] = document.querySelector("#Email").value;
            data["UserName"] = document.querySelector("#UserName").value;
            data["Password"] = document.querySelector("#Password").value;

            fetch("https://localhost:44316/api/user" , {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(function (response) {
                

                response.json().then(function (msg) {
                    if (msg["OK"] == "OK") {
                        
                        ModalAbrir("hide")
                                          
                    
                    } else {
                        LimpiarErrors();
                        for (var k in msg) {
                            document.getElementById("err"+k).innerText = msg[k];
                        }
                    }
                    location.reload(true);
                }); 
                 bootbox.alert("Success User Save!");  
            });
        }

            $(document).ready(function ()
            {
                var table = $('#tabla-contenido').DataTable(
                    {
                    ajax: {
                        url: 'https://localhost:44316/api/user',
                        type: 'GET',
                        datatype: 'JSON',
                        dataSrc: ''
                    },
                        columns: [
                            { data: 'name' },
                            { data: 'lastName' },
                            { data: 'curp' },
                            { data: 'email' },
                            { data: 'userName' },

                             {
                                render: function (data, type, row) {
                                    return `<a class= btn btn-primary onClick="MostrarEditar(${row.id})"> Editar</a>`
                        },
                    },
                            {
                                render: (data, type, row) => {
                                    return `<a class="btn btn-info" href="User/Details/${row.id}">Details</a>`
                                },
                            },
                             {
                                render: (data, type, row) => {
                                    return `<a class="btn btn-info" onClick="Delete(${row.id})">Delete</a>`
                                },
                            }
                               ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                  {
                        text: 'Nuevo',
                        action: function () {
                        ModalAbrir("show");
                        }
                    },
                'copy', 'excel', 'pdf'
                
                    ]
        });
    } );
    </script>
}
