@{
    ViewBag.Title = "Home Page";
}
<br>
<br>
<div class="jumbotron" style="background-color:lightpink">
    <br>
    <br>
    <h1>LEARN MORE! <br>READ MORE!<br> INTEGON YOUR FAMILY!  </h1>
    <p class="lead"> Integon Books Story</p>
    <p><a href="https://integon.jobs.net/" class="btn btn-primary btn-lg">GO TO OUR PAGE WEB INTEGON  &raquo;</a></p>
</div>

<div class="row ">
    <div class="col-md-4" >
        <h2>GO TO BOOKS SECTION </h2>
        <p>
            SEE OUR LIST TO BOOKS
        </p>
        <p><a class="btn btn-default" href="http://localhost:58752/Books">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> GO CREATE NEW USER </h2>
        <p> CLICK AND CREATE NEW USER </p>
        <p><a class="btn btn-default" href="http://localhost:58752/Users/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2>GO LIST USERS</h2>
        <p>LIST TO USERS AND LOANS</p>
        <p><a class="btn btn-default" href="http://localhost:58752/Users">Learn more &raquo;</a></p>
    </div>
</div>