@model Models.Loan

@{
    ViewData["Title"] = @ViewData["Accion"] + " Loan";
}

<div class="card">
    <div class="card-header" >
       
    </div>

   
    <div class="form-group">
        <label asp-for="UserID"></label>
        <input asp-for="UserID" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdBook"></label>
        <input  asp-for="IdBook" />
        <span asp-validation-for="IdBook" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ISBN"></label>
        <input  asp-for="ISBN" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>


</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=">
    </script>
}